body {
  background-color: MistyRose;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

p {
  font-family: cardo;
  font-size: 20px;
  text-align: center;
}

div {
  position: absolute;
  font-family: copperplate;
  font-size: 20px;
  background-color: cornsilk;
  left: 60%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  opacity: .5;
}
