body {
  background-color: MistyRose;
}

h1 {
  color: black;
  text-align: center;
  font-family: papyrus;
}

h2 {
  color: black;
  text-align: center;
}

p {
  font-family: cardo;
  font-size: 20px;
  position: relative;
  text-align: left;
  left: 30%;
}

div {
  position: relative;
  font-family: copperplate;
  font-size: 20px;
  color: indigo; 
  background-color: lavender;
  opacity: .4;
  left: 40%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  opacity: .5;
}
