body {
  background-color: MistyRose;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

p {
  font-family: cardo;
  font-size: 20px;
  position: absolute;
  left: 40%;
  right: 60%;
}

div {
  position: absolute;
  font-family: copperplate;
  font-size: 20px;
  background-color: lavender;
  opacity: .4;
  left: 60%%;
  right: 40%
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  opacity: .5;
}
